menu "WiFiSocketServer"

    config TCPIP_ADAPTER_HOSTNAME_MAX_LENGTH
        int "Max hostname length for tcpip adapter"
        range 1 128
        default 64

    config MDNS_TASK_STACK_SIZE
        int "mDNS task stack size"
        default 2076

    config HEAP_PRIO_8BIT_RAM
        bool "Prioritize 8-bit accessible RAM for heap allocation"
        default y

endmenu
